@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');

body{
    background-color: lightblue;
}

html,body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: orangered;
    padding: 20px;
}

header .pfp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid white;
    /* border: 20px solid yellow; */
    border-width: 10px;
    background-image: url('./../img/bart-simpson.jpg');
    background-repeat: no-repeat;
    background-position: -180px 0;
    background-size: 300%;
    margin: 0 auto;
}

header h1{
    font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  font-size: 35px;
  margin: 10px 0 5px 0;
}